        .won_container {
            height: 800px;
            text-align: center;

            display: inline-block;

            width: 100vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("https://carmignaniconsulenza.files.wordpress.com/2022/12/certificazione-titoli-concorso.jpg");
        }
        /* 박재원 소개글 */
        .won_location {
            margin-top: 10%;
            margin-inline: 1% 1%;
            display: inline-block;
            height: 300px;
            width: 600px;
        }
        /* 박재원 이미지 */
        .won_image {
            border-radius: 35%;
            background-size: cover;
            background-position: center;

            margin-top: 13%;
            margin-inline: 1% 1%;
            display: inline-block;
            height: 300px;
            width: 300px;
        }